/**Notifications**/
.notification {
    z-index: 1;
    position: absolute;
    top: -45px;
    right: 20px;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--primary);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.show-notification {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}