/**Notifications**/
.notification {
    z-index: 999;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--primary);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.show-notification {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.notification-container {
    display: flex;
    align-items: center;
    position: relative;
}

#borrowing-list-notification {
    position: absolute;
    top: -45px;
    right: 20px;
}

#confirm-notification {
    position: absolute;
    bottom: 6.2rem;
}